// Заголовки, загальні БЕМ блоки та інше...

.cross {
	display: flex;
	position: relative;
	width: toRem(17);
	height: toRem(17);

	&:before,
	&:after {
		position: absolute;
		content: "";
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: toRem(2);
		background-color: #fff;
		border-radius: toRem(5);
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.logo-title {
	font-family: "Integral CF";
	font-size: toRem(33.45);
	font-weight: 700;
	line-height: 0.3;
}

.products {
	&__container {
		@include adaptiveValue("padding-top", 72, 50);
		@include adaptiveValue("padding-bottom", 64, 40);
	}
	&:has(+ &) {
		.products__container {
			border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
		}
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 55, 32);
		}
	}

	&__blocks {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 24);
		}
	}

	&__load-more {
		max-width: toRem(218);
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.blocks-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
	gap: toRem(20);
}

.product-block {
	&__link {
		position: relative;
		display: block;

		@media (min-width: $tablet) {
			aspect-ratio: 295/298;
		}

		aspect-ratio: 1;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 16, 10);
		}

		&:hover {
			& + .product-block__title {
				text-decoration: underline;
			}
		}
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__title {
		&:hover {
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-bottom: toRem(8);
		}

		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(4);
			}
		}
	}
	&__rating {
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}

		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(4);
			}
		}
	}
	&__grade {
		font-size: toRem(14);
		@media (max-width: $mobileSmall) {
			font-size: toRem(12);
		}

		span {
			&:nth-child(2) {
				color: rgba(0, 0, 0, 0.4);
			}
		}
	}
}

.product-title {
	@include adaptiveValue("font-size", 20, 16);
	font-weight: 700;
}

.title {
	@include adaptiveValue("font-size", 48, 32);
	font-family: "Integral CF";
	font-weight: 700;

	&--center {
		text-align: center;
	}

	&--sl {
		@include adaptiveValue("font-size", 38, 24, 2, $containerWidth, 320);
	}
}

.block-rating {
	display: flex;
	align-items: center;
	column-gap: toRem(10);

	.rating__items {
		gap: toRem(4.44);
	}

	.rating__item {
		width: toRem(18.49);
		height: toRem(18.49);
		flex: 0 0 toRem(18.49);

		span,
		& {
			height: toRem(18.49);
			background-size: toRem(18.49);
		}

		@media (max-width: $mobileSmall) {
			width: toRem(15.46);
			height: toRem(15.46);
			flex: 0 0 toRem(15.46);

			&,
			span {
				height: toRem(15.46);
				background-size: toRem(15.49);
			}
		}
	}

	&--l {
		.rating__item {
			width: toRem(24);
			height: toRem(24);
			flex: 0 0 toRem(24);

			&,
			span {
				height: toRem(24);
				background-size: toRem(24);
			}
		}

		.rating__items {
			gap: toRem(7.1);
		}
	}
}

.prices {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 10, 5);

	&__current {
	}

	&__old {
		color: rgba(0, 0, 0, 0.4);
	}

	&__current,
	&__old {
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 700;
	}

	&--l {
		column-gap: toRem(12);

		.prices__current,
		.prices__old {
			@include adaptiveValue("font-size", 32, 24, 2, $containerWidth, 992);
		}

		.prices__discount {
			@include adaptiveValue("font-size", 16, 14);
		}
	}

	&__discount {
		@include adaptiveValue("font-size", 12, 10);
		display: inline-flex;
		padding: toRem(6) toRem(14);
		justify-content: center;
		align-items: center;
		border-radius: toRem(62);
		background: rgba(255, 51, 51, 0.1);
		color: #f33;
		font-weight: 500;
	}
}

.quantity-product {
	background: #f0f0f0;
	border-radius: toRem(62);
	display: flex;
	column-gap: toRem(10);
	row-gap: toRem(20);
	@include adaptiveValue("padding-block", 20, 12);
	@include adaptiveValue("padding-inline", 22, 16);

	@media (max-width: $mobileSmall) {
		font-size: toRem(14);
	}

	&__input {
		input {
			text-align: center;
			height: 100%;
			font-weight: 700;
		}
		flex: 0 1 toRem(60);
		align-items: center;
	}
	&__quantity {
	}
	&__button {
		position: relative;
		width: 100%;
		max-width: toRem(18.75);
		min-height: toRem(18.75);

		&:hover {
			&::before,
			&::after {
				background: rgba($color: #000000, $alpha: 0.6);
			}
		}

		@media (max-width: $mobileSmall) {
			max-width: toRem(15.625);
			min-height: toRem(15.626);
		}

		&--minus {
			&::before {
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				left: 0;
				content: "";
				width: 100%;
				height: toRem(2.25);
				@media (max-width: $mobileSmall) {
					height: toRem(1.875);
				}
				background: #000;
			}
		}

		&--plus {
			&::before,
			&::after {
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				left: 0;
				content: "";
				width: 100%;
				background: #000;
				border-radius: toRem(40);
				height: toRem(2.25);
				@media (max-width: $mobileSmall) {
					height: toRem(1.875);
				}
			}

			&::after {
				position: absolute;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}

	&--small {
		font-size: toRem(14);

		.quantity-product__button {
			max-width: toRem(15.62);
			min-height: toRem(15.62);
		}

		padding-block: toRem(12);
		padding-inline: toRem(20);

		.quantity-product__input {
			flex: 0 1 toRem(40);
		}
	}
}

.input-field {
	position: relative;
	&__icon {
		font-size: toRem(24);
		top: 50%;
		left: toRem(18);
		position: absolute;
		transform: translateY(-50%);
		color: rgba(0, 0, 0, 0.4);
	}
	&__input {
		display: flex;
		padding-block: toRem(12);
		padding-inline: toRem(52) toRem(12);
		align-items: flex-start;
		gap: toRem(12);
		border-radius: toRem(62);
		background: #f0f0f0;
		transition:
			background 0.2s,
			color 0.2s,
			padding-inline 0.2s;

		&:hover {
			padding-inline: toRem(60) toRem(12);
		}
	}

	&--white {
		.input-field__input {
			background-color: #fff;
		}
	}
}

.separator {
	background: rgba(0, 0, 0, 0.1);
	height: toRem(1);
	margin-block: toRem(24);
}

.color-picker {
	&__label {
		display: block;
		color: rgba(0, 0, 0, 0.6);

		&:not(:last-child) {
			margin-bottom: toRem(13);
		}
	}

	&:not(&.color-picker--gap-0) &__options {
		gap: toRem(11.2);
	}

	&--between &__options {
		justify-content: space-between;
	}

	&__options {
		display: flex;
		flex-wrap: wrap;
	}

	&__option {
		position: relative;
		display: inline-flex;
		cursor: pointer;
	}

	&__input {
		position: absolute;
		opacity: 0;
		height: 100%;
		z-index: 1;
		cursor: pointer;
	}

	&__circle {
		position: relative;
		width: toRem(40);
		height: toRem(40);
		transition: box-shadow 0.2s;
	}

	&--border {
		.color-picker__circle {
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: toRem(39.5);
				height: toRem(39.5);
				border-radius: 50%;
				z-index: 1;
				border: 2px solid rgba(0, 0, 0, 0.2);
			}
		}
	}

	&__fill {
	}

	&__checkmark {
		position: absolute;
		width: toRem(16);
		height: toRem(16);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		display: none;
		mix-blend-mode: difference;
	}

	&__input:checked + &__circle {
		.color-picker__checkmark {
			display: block;
		}
	}

	&__input:hover,
	&__input:focus-visible + &__circle {
		outline: toRem(2) solid rgba(0, 0, 0, 0.2);
	}
}

.size-picker {
	&__label {
		display: block;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	&__options {
		display: flex;
		gap: toRem(12);
		flex-wrap: wrap;
	}

	&__option {
		position: relative;
		display: inline-flex;
	}

	&__input {
		position: absolute;
		opacity: 0;
		height: 100%;
		cursor: pointer;

		&:hover + .size-picker__text {
			background: #000;
			color: #fff;
		}
	}

	&__text {
		display: inline-flex;
		background: #f0f0f0;
		color: rgba(0, 0, 0, 0.6);
		padding-block: toRem(12);
		padding-inline: toRem(24);
		border-radius: toRem(62);
		transition:
			background 0.1s,
			color 0.1s;
	}

	&__icon {
		width: toRem(16);
		height: toRem(16);
		display: none;
	}

	&__input:checked + &__text {
		background: #000;
		color: #fff;
		font-weight: 500;
	}

	&__input:hover,
	&__input:focus-visible + &__text {
		outline: toRem(2) solid rgba(0, 0, 0, 0.2);
	}
}

.label {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs {
	padding-block: toRem(24);
	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(12);
		color: rgba(0, 0, 0, 0.6);
	}

	&__item {
		display: flex;
		align-items: center;
		gap: toRem(4);

		> i {
			font-size: toRem(12);
		}

		&:last-child {
			color: #000;
		}
	}

	&__link {
		transition: color 50ms;
		&:hover {
			color: #000;
		}
	}
}

.review {
	@include adaptiveValue("padding-inline", 32, 24);
	@include adaptiveValue("padding-block", 28, 24);
	border-radius: toRem(20);
	border: toRem(1) solid rgba(0, 0, 0, 0.1);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(15);
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}

		svg {
			flex: 0 0 toRem(24);
			max-width: toRem(24);
			max-height: toRem(24);
			color: rgba(0, 0, 0, 0.4);
		}
	}

	&__rating {
	}

	&__content {
		&:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}

	&__author {
		display: flex;
		column-gap: toRem(4);
		align-items: center;

		&:not(:last-child) {
			margin-bottom: toRem(11.5);
		}

		p {
			@include adaptiveValue("font-size", 20, 16);
			font-weight: 700;
			line-height: math.div(22, 20);
		}

		svg {
			flex: 0 0 toRem(19.5);
			max-width: toRem(19.5);
			max-height: toRem(19.5);
			color: #fff;
			position: relative;
			background-color: #01ab31;
			border-radius: 50%;
			padding: toRem(3);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 16, 14);
		color: rgba(0, 0, 0, 0.6);
		line-height: math.div(20, 16);
	}

	&__date {
		color: rgba(0, 0, 0, 0.6);
		font-weight: 500;
		line-height: math.div(22, 16);
	}
}

.button {
	font-weight: 500;
	padding-block: toRem(16);
	padding-inline: toRem(20);
	border-radius: toRem(62);
	background: #000;
	color: #fff;
	transition:
		background 150ms,
		color 150ms;

	&:hover {
		background: rgba(0, 0, 0, 0.9);
	}

	&--outline {
		border: toRem(1) solid rgba(0, 0, 0, 0.1);
		background: #fff;
		color: #000;

		&:hover {
			background: rgba(0, 0, 0, 0.9);
			color: #fff;
		}
	}

	&--secondary {
		background: #fff;
		color: #000;

		&:hover {
			background: rgba(255, 255, 255, 0.9);
		}
	}

	&--gray {
		background: #f0f0f0;
		color: #000;

		&:hover {
			background: #000;
			color: #fff;
		}
	}

	&--icon {
		display: flex;
		column-gap: toRem(20);
		justify-content: space-between;
		align-items: center;

		&-left {
			flex-direction: row-reverse;
		}
	}

	&--circle {
		aspect-ratio: 1/1;
		padding-inline: toRem(13);
		padding-block: toRem(12);
		border-radius: 50%;
	}

	&--rounded-xs {
		border-radius: toRem(8);
	}

	&--padding-xs {
		padding-block: toRem(12);
		padding-inline: toRem(14);
	}

	&--bold {
		font-weight: 700;
	}
}

#price-slider {
	height: toRem(6);

	.noUi {
		&-base {
		}
		&-target {
		}
		&-connects {
			background-color: #f0f0f0;
			border-radius: toRem(5);
		}
		&-connect,
		&-origin {
			background-color: #000000;
		}
		&-handle {
			top: toRem(-7);
			width: toRem(20);
			height: toRem(20);
			background-color: #000;
			border-radius: 50%;

			&::after,
			&::before {
				all: unset;
			}
			&-lower {
			}
			&-upper {
			}
		}
		&-tooltip {
			font-size: toRem(14);
			font-weight: 500;
			bottom: toRem(-23);
		}
	}
}

.filters-title {
	font-weight: 700;
	font-size: toRem(20);
}

.list-filters {
	display: flex;
	flex-direction: column;
	row-gap: toRem(22.5);

	&__item {
	}

	&__label {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(20);
		transition: color 50ms;
		color: rgba(0, 0, 0, 0.6);

		&:hover {
			color: #000;
			font-weight: 500;
		}
	}

	&__text {
	}

	&__input {
		width: auto;
		appearance: none;
		width: 16px;
		height: 16px;
		border: 2px solid #aaa;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		transition: border-color 0.3s ease-in-out;

		&:checked {
			border-color: black;
			&::before {
				content: "";
				width: 8px;
				height: 8px;
				background-color: black;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	@include adaptiveValue("column-gap", 20, 5, 0, $containerWidth, 767.98);
	align-items: center;
	row-gap: toRem(15);
	@media (max-width: $mobile) {
		flex-wrap: wrap;
	}

	&__button {
		@media (max-width: $mobile) {
			flex: 1 0 45%;
		}
	}

	&__button--prev {
	}
	&__button--next {
		.pagination__icon {
			transform: rotate(180deg) translateY(1px);
		}
	}

	&__icon {
	}

	&__pages {
		display: flex;
		align-items: center;

		@media (max-width: $mobile) {
			flex: 1;
			order: 3;
			justify-content: center;
		}
	}

	&__item {
		font-weight: 500;
	}

	&__link {
		@include adaptiveValue("padding-block", 14, 8);
		@include adaptiveValue("padding-inline", 18, 10);
		border-radius: toRem(8);
		transition:
			background 150ms cubic-bezier(0.4, 0, 0.2, 1),
			color 150ms cubic-bezier(0.4, 0, 0.2, 1);

		&.pagination__link--active {
			background: rgba(0, 0, 0, 0.06);
		}

		&:hover {
			background: #000;
			color: #fff;
		}
	}

	&__input {
		width: toRem(44);
		padding-block: toRem(11);
		padding-inline: toRem(8);
		font-weight: 500;
		text-align: center;

		&::placeholder {
			text-align: center;
			font-size: toRem(12);
			color: rgba(0, 0, 0, 0.5);
		}
	}
}
