:root {
	--header-z-index: 1000;
}

.top-header {
	background: #000;
	position: relative;
	z-index: var(--header-z-index);

	&__container {
		@include adaptiveValue("gap", 425, 0, 2, $containerWidth, 479.98);
		display: flex;
		padding-top: toRem(9);
		padding-bottom: toRem(9);
		justify-content: space-between;

		@media (min-width: $tablet) {
			justify-content: flex-end;
		}
	}

	&__info {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
	}

	&__button {
		font-size: toRem(14);
		font-weight: 500;
	}

	&__close {
		display: none;
		@media (min-width: $tablet) {
			display: flex;
		}
	}
}

.header {
	&__container {
		.header_line & {
			position: relative;
			&::before {
				position: absolute;
				content: "";
				max-width: toRem(1240);
				width: 100%;
				height: toRem(1);
				inset-inline-start: 50%;
				inset-block-end: 0;
				transform: translateX(-50%);
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		padding-top: toRem(24);
		padding-bottom: toRem(24);
	}
	&__body {
		@include adaptiveValue("column-gap", 40, 15);
		row-gap: toRem(10);
		display: flex;
		align-items: center;
		container-type: inline-size;
		container-name: header-body;
	}
	&__logo {
	}
	&__menu {
		@media (max-width: toEm(640)) {
			order: -1;
		}
	}
	&__search {
		flex: 1 0 auto;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__actions {
		@media (max-width: $tablet) and (min-width: toEm(390)) {
			flex: 1;
			justify-items: flex-end;
		}

		&:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}
}

.menu {
	&__icon {
		z-index: var(--header-z-index);
		position: relative;
		.menu-open & {
			span,
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
	&__body {
		z-index: 999;
		&::before {
			height: toRem(120);
			background-color: #000;
		}
		@media (min-width: toEm(640)) {
		}

		@media (max-width: toEm(640)) {
			padding-block: toRem(120);
			padding-inline: toRem(16);
			background-color: #000;
			color: #fff;
		}
	}

	&__list {
		display: flex;
		row-gap: toRem(10);
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 24, 12);

		@media (max-width: toEm(640)) {
			flex-direction: column;
		}
	}

	&__item {
		font-size: toRem(16);
		@include adaptiveValue("font-size", 64, 32, 3, 640, 320);
	}

	&__link {
		transition: all 50ms;
		&:hover {
			text-decoration: underline;
		}
	}
}

.actions-header {
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 14, 8);

		@media (max-width: toEm(640)) {
			flex-wrap: wrap;
		}
	}
	&__item {
		max-height: toRem(24);
		&--search {
			display: none;
			@media (max-width: $tablet) {
				display: initial;
			}
		}
	}
	&__link {
		font-size: toRem(24);
		transition: color 0.2s;
		aspect-ratio: 1;
		max-width: toRem(24);
		max-height: toRem(24);
		&:hover {
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
