.top-header {
	background: #000;

	&__container {
		@include adaptiveValue("gap", 425, 0, 2, $containerWidth, 479.98);
		display: flex;
		padding-top: toRem(9);
		padding-bottom: toRem(9);
		justify-content: space-between;

		@media (min-width: $tablet) {
			justify-content: flex-end;
		}
	}

	&__info {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
	}

	&__button {
		font-size: toRem(14);
		font-weight: 500;
	}

	&__close {
		display: none;
		@media (min-width: $tablet) {
			display: flex;
		}
	}
}

.header {
	&__container {
		.header_line & {
			position: relative;
			&::before {
				position: absolute;
				content: "";
				max-width: toRem(1240);
				width: 100%;
				height: toRem(1);
				inset-inline-start: 50%;
				inset-block-end: 0;
				transform: translateX(-50%);
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		padding-top: toRem(24);
		padding-bottom: toRem(24);
	}
	&__body {
		display: flex;
		align-items: center;
		column-gap: toRem(40);
	}
	&__logo {
	}
	&__menu {
		@media (max-width: $tablet) {
			order: -1;
		}
	}
	&__search {
		flex: 1 0 auto;

		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.menu {
	@media (max-width: $tablet) {
		flex: 1;
	}
	&__icon {
		display: none;
	}
	&__body {
	}

	&__list {
		display: flex;
		column-gap: toRem(24);
		row-gap: toRem(10);
		flex-wrap: wrap;
	}

	&__item {
		font-size: toRem(16);
	}

	&__link {
		&--arrow {
			display: inline-flex;
			column-gap: toRem(4);
			align-items: center;

			> ._icon-arrowx {
				font-size: toRem(16);
				transform: rotate(90deg);
			}
		}
	}
}

.actions-header {
	&__list {
		display: flex;
		column-gap: toRem(14);
	}
	&__item {
		&--search {
			display: none;
			@media (max-width: $tablet) {
				display: initial;
			}
		}
	}
	&__link {
		font-size: toRem(24);
	}
}
